* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: #1e252b;
}
.container {
  width: 1254px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.logo {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffe5;
  align-items: center;
}
.logo img {
  margin-right: 11px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header-btn {
  text-decoration: none;
  padding: 12px 28px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
  color: #ffffff8c;
  transition: background-color 300ms linear;
}
.header-btn:hover {
  background-color: #ff6e30;
  border-radius: 8px;
  color: #fdf5ff;
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
  transition: color 300ms linear
}
.header-link:hover {
  color: #ff6e30;
}
.header-small-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 41px;
}
.hero {
  padding-top: 178px;
  background-image: url(./images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-link {
  transition: scale 10s linear;
}
.hero-link:hover {
  transform: scale(1.2);
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffffe5;
  margin-bottom: 30px;
}
.hero-span {
  color: #ff6e30;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
  margin-bottom: 60px;
}
.hero-input {
  background-color: #283036;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff61;
  border: 1.5px solid;
  padding: 21px 252px 22px 55px;
  border-radius: 15px;
  margin-bottom: 121px;

  border-image-source: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
}
.hero-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #ff6e30;
  padding: 20px 36px;
  border-radius: 8px;
  border: none;
  position: absolute;
  left: 28%;
  top: 5px;
}
.hero-list {
  display: flex;
  gap: 20px;
}
.form {
  position: relative;
}

.tools {
  margin-top: 150px;
}
.tools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffe5;
  margin-bottom: 25px;
}
.tools-mini-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff8c;
  margin-bottom: 90px;
}
.tools-list {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tools-item {
  display: flex;
  flex-direction: column;
  padding: 33px;
  border-radius: 15px;
  gap: 30px;
  transition: background-image 300ms linear;
}
.tools-item:hover {
  background-image: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(40, 48, 54, 0.4) 100%
  );
  border-radius: 15px;
}
.tools-image {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}
.tools-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffc7;
  margin-bottom: 10px;
}
.tools-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffa537;
}
.tools-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.tools-heart {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
}
.tools-heart:hover {
  background-image: url(./images/coloured-heart.png);
}
.tools-file {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.tools-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
  padding: 9px 10px;
  border-radius: 8px;
  transition: background-color 300ms linear;
}
.tools-link:hover {
  background-color: #ff6e30;
  padding: 9px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.tools-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ff6e30;
  padding: 17px 38px;
  border: 1px solid #ffffff1a;
  background-color: #1e252b;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.titles-and-img {
  display: flex;
  margin-bottom: 30px;
}
.titles {
  align-items: center;
}
.heart-and-file {
  display: flex;
  gap: 12px;
}
.img-and-visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands {
  border: 2px solid #2c353d33;
  background: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(40, 48, 54, 0.4) 100%
  );
  margin-top: 200px;
}
.brands-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffcc;
  text-align: center;
  margin-top: 55px;
}
.brands-list {
  display: flex;
  gap: 107px;
  justify-content: center;
}
.brands-igm {
  margin-top: 55px;
  margin-bottom: 56px;
}

.newcomer {
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
}
.newcomer-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffffe5;
  margin-bottom: 30px;
}

.newcomer-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
  margin-bottom: 60px;
}
.newcomer-image {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}
.newcomer-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 18px 40px;
  background-color: #ff6e30;
  border: none;
  border-radius: 7px;
}
.newcomer-wrap {
  width: 900px;
}
.newcomer-list {
  gap: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.newcomer-item {
  width: 288px;
  padding: 33px;
}
.newcomer-item:hover {
  background: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(40, 48, 54, 0.4) 100%
  );
  border-radius: 15px;
}
.newcomer-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffc7;
  margin-bottom: 10px;
}
.newcomer-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffa537;
}
.newcomer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
  margin-bottom: 30px;
}

.ronald {
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
  background-image: url(./images/commacomma.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 153px;
}
.ronald-img {
  width: 399px;
  height: 492px;
}
.ronald-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5%;
  color: #ffffffc7;
  align-items: center;
  padding: 128px 57px 184px;
}

.contributor {
  margin-bottom: 240px;
}
.contributor-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffe5;
  margin-bottom: 25px;
}
.contributor-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff8c;
  margin-bottom: 100px;
}
.contributor-form {
  display: flex;
  justify-content: center;
  position: relative;
}
.contributor-input {
  background-color: #283036;
  border-radius: 15px;
  border: 1.5px solid #ffffff1a;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff61;
  padding: 22px 402px 21px 24px;
}
.contributor-btn {
  background-color: #ff6e30;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
  padding: 12px 36px;
  position: absolute;
  left: 63%;
  top: 12px;
}

.footer {
  border-top: 0.5px solid #ffffff26;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 98px 0;
}
.logotype-list {
  display: flex;
  flex-direction: column;
}
.logotype-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffe5;
  margin-top: 25px;
  margin-bottom: 21px;
}
.logotype-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff8c;
}

.list-of-lists {
  display: flex;
  padding: 0;
  gap: 115px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffe5;
  margin-bottom: 10px;
}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.list-of-lists:nth-child(2) {
  align-items: flex-start;
}
