* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: #1e252b;
}
.container {
  width: 1254px;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid orange;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 26px 105px 0 120px;
}
.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffe5;
}
.logo img {
  margin-right: 21px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header-btn {
  text-decoration: none;
  padding: 12px 28px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.header-btn:hover {
  background-color: #ff6e30;
  border-radius: 8px;
  color: #fdf5ff;
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.header-small-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 41px;
}
.hero {
  padding-top: 178px;
  background-image: url(./images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffffe5;
  margin-bottom: 30px;
}
.hero-span {
  color: #ff6e30;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
  margin-bottom: 60px;
}
.hero-input {
  background-color: #283036;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff61;
  border: 1.5px solid;
  padding: 21px 252px 22px 55px;
  border-radius: 3px;
  margin-bottom: 121px;

  border-image-source: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
}
.hero-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #ff6e30;
  padding: 20px 36px;
  border-radius: 8px;
  border: none;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero-list {
  display: flex;
  gap: 20px;
}
.tools {
  margin-top: 150px;
}
.tools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffe5;
  margin-bottom: 25px;
}
.tools-mini-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff8c;
}
.tools-list {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tools-item {
  display: flex;
  flex-direction: column;
  padding: 33px;
  border-radius: 15px;
  gap: 30px;
}
.tools-image {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}
.tools-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffc7;
  margin-bottom: 10px;
}
.tools-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffa537;
}
.tools-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.tools-heart {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
}
.tools-file {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.tools-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
}
.tools-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ff6e30;
  padding: 17px 38px;
  border: 1px solid #ffffff1a;
  background-color: #1e252b;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.titles-and-img {
  display: flex;
}
.titles {
  align-items: center;
}
.heart-and-file {
  display: flex;
  gap: 12px;
}
.img-and-visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands {
  border: 2px solid;

  padding: 55px 430px 160px;
  margin-top: 200px;
}
.brands-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffcc;
  text-align: center;
}
