.header {
  @extend %flex;
  margin-top: 26px;
}
.navigation {
  @extend %flex;
}
.header-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header-btn {
  @include button($padding: 12px 28px, $border-radius: 8px, $color: #ffffff8c);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: background-color 300ms linear;
}
.header-btn:hover {
  @include btn-hover(
    $padding: 12px 28px,
    $background-color: #ff6e30,
    $border-radius: 8px,
    $color: #fdf5ff
  );
  background-color: #ff6e30;
  border-radius: 8px;
  color: #fdf5ff;
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff8c;
  transition: color 300ms linear;
}
.header-link:hover {
  color: #ff6e30;
}
.header-small-list {
  @extend %flex;
  list-style: none;
  gap: 41px;
}
